<!--The content below is only a placeholder and can be replaced.-->

<a href='https://ithelp.ithome.com.tw/articles/10187525'>Angular 2 動畫 (ANIMATIONS)</a><br>
<a href='https://angular.io/guide/animations'>Angular Reference</a><br>
<h2>No animation </h2>

<app-no-animation [isVisible]="isVisible">
  Hello Thomas
</app-no-animation>
<button (click)="isVisible = !isVisible">Toggle</button>

    <h2>Angular 2 Animation - Complex Fade </h2>

    <app-fader [isVisible]="showFader">
      Hello Thomas
    </app-fader>

    <button (click)="showFader = !showFader">Toggle</button>

    <h2>Angular 2 Animation - Simple Fade </h2>

    <app-simple-fade [isSimpleVisible]="isSimpleVisible">
      Hello Thomas
    </app-simple-fade>

    <button (click)="isSimpleVisible = !isSimpleVisible">Toggle</button>


<router-outlet></router-outlet>
